In [1]:
import findspark
findspark.init()
import findspark

In [2]:
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName("MyNewApp").getOrCreate()

In [3]:
from IPython.core.display import HTML
display(HTML("<style>pre { white-space: pre !important; }</style>"))

In [4]:
df_city=spark.read.csv(r"C:\Users\apurba.mondal\Documents\City_Master.csv",header=True,inferSchema=True)
df_city.show(5)

+---------+----------+----------+
|City_Code| City_Name|State_Code|
+---------+----------+----------+
|     CT01|    Mumbai|      ST15|
|     CT02|      Pune|      ST15|
|     CT03|   Chennai|      ST24|
|     CT04|Coimbatore|      ST24|
|     CT05| Hyderabad|      ST25|
+---------+----------+----------+
only showing top 5 rows

In [5]:
df_city=df_city.withColumnRenamed('State_Code','StateCode')

In [6]:
df_city.show(5)

+---------+----------+---------+
|City_Code| City_Name|StateCode|
+---------+----------+---------+
|     CT01|    Mumbai|     ST15|
|     CT02|      Pune|     ST15|
|     CT03|   Chennai|     ST24|
|     CT04|Coimbatore|     ST24|
|     CT05| Hyderabad|     ST25|
+---------+----------+---------+
only showing top 5 rows

In [7]:
df_sales=spark.read.csv(r"C:\Users\apurba.mondal\Documents\Car_sales_transactions.csv",header=True,inferSchema=True)
df_sales.show(5,truncate=False)

+--------+----------------------------+----+-------------+---------+---------+----------+-----------+------+-----------+------------+------------+----------+-------+----------+-----+
|Sales_ID|Name                        |Year|Selling_Price|km_Driven|City_Code|State_Code|Postal_Code|Fuel  |Seller_Type|Transmission|Owner       |Mileage   |Engine |Max_Power |Seats|
+--------+----------------------------+----+-------------+---------+---------+----------+-----------+------+-----------+------------+------------+----------+-------+----------+-----+
|1       |Maruti Swift Dzire VDI      |2014|450000       |145500   |CT01     |ST15      |400001     |Diesel|Individual |Manual      |First Owner |23.4 kmpl |1248 CC|74 bhp    |5    |
|2       |Skoda Rapid 1.5 TDI Ambition|2014|370000       |120000   |CT28     |ST11      |834001     |Diesel|Individual |Manual      |Second Owner|21.14 kmpl|1498 CC|103.52 bhp|5    |
|3       |Honda City 2017-2020 EXi    |2006|158000       |140000   |CT12     |ST28      |201301     |Petrol|Individual |Manual      |Third Owner |17.7 kmpl |1497 CC|78 bhp    |5    |
|4       |Hyundai i20 Sportz Diesel   |2010|225000       |127000   |CT21     |ST27      |248001     |Diesel|Individual |Manual      |First Owner |23.0 kmpl |1396 CC|90 bhp    |5    |
|5       |Maruti Swift VXI BSIII      |2007|130000       |120000   |CT03     |ST24      |600020     |Petrol|Individual |Manual      |First Owner |16.1 kmpl |1298 CC|88.2 bhp  |5    |
+--------+----------------------------+----+-------------+---------+---------+----------+-----------+------+-----------+------------+------------+----------+-------+----------+-----+
only showing top 5 rows

In [8]:
type(df_sales)

pyspark.sql.dataframe.DataFrame

In [9]:
df_sales.printSchema()

root
 |-- Sales_ID: integer (nullable = true)
 |-- Name: string (nullable = true)
 |-- Year: integer (nullable = true)
 |-- Selling_Price: integer (nullable = true)
 |-- km_Driven: integer (nullable = true)
 |-- City_Code: string (nullable = true)
 |-- State_Code: string (nullable = true)
 |-- Postal_Code: integer (nullable = true)
 |-- Fuel: string (nullable = true)
 |-- Seller_Type: string (nullable = true)
 |-- Transmission: string (nullable = true)
 |-- Owner: string (nullable = true)
 |-- Mileage: string (nullable = true)
 |-- Engine: string (nullable = true)
 |-- Max_Power: string (nullable = true)
 |-- Seats: integer (nullable = true)

#### To drop all Null values from dataset

In [10]:
df_sales_withoutnull=df_sales.na.drop()
df_sales_withoutnull.show(5,truncate=False)

+--------+----------------------------+----+-------------+---------+---------+----------+-----------+------+-----------+------------+------------+----------+-------+----------+-----+
|Sales_ID|Name                        |Year|Selling_Price|km_Driven|City_Code|State_Code|Postal_Code|Fuel  |Seller_Type|Transmission|Owner       |Mileage   |Engine |Max_Power |Seats|
+--------+----------------------------+----+-------------+---------+---------+----------+-----------+------+-----------+------------+------------+----------+-------+----------+-----+
|1       |Maruti Swift Dzire VDI      |2014|450000       |145500   |CT01     |ST15      |400001     |Diesel|Individual |Manual      |First Owner |23.4 kmpl |1248 CC|74 bhp    |5    |
|2       |Skoda Rapid 1.5 TDI Ambition|2014|370000       |120000   |CT28     |ST11      |834001     |Diesel|Individual |Manual      |Second Owner|21.14 kmpl|1498 CC|103.52 bhp|5    |
|3       |Honda City 2017-2020 EXi    |2006|158000       |140000   |CT12     |ST28      |201301     |Petrol|Individual |Manual      |Third Owner |17.7 kmpl |1497 CC|78 bhp    |5    |
|4       |Hyundai i20 Sportz Diesel   |2010|225000       |127000   |CT21     |ST27      |248001     |Diesel|Individual |Manual      |First Owner |23.0 kmpl |1396 CC|90 bhp    |5    |
|5       |Maruti Swift VXI BSIII      |2007|130000       |120000   |CT03     |ST24      |600020     |Petrol|Individual |Manual      |First Owner |16.1 kmpl |1298 CC|88.2 bhp  |5    |
+--------+----------------------------+----+-------------+---------+---------+----------+-----------+------+-----------+------------+------------+----------+-------+----------+-----+
only showing top 5 rows

In [11]:
df_sales_status=spark.read.csv(r"C:\Users\apurba.mondal\Documents\Sales_Status.csv",header=True,inferSchema=True)
df_sales_status=df_sales_status.withColumnRenamed("Sales_ID","SalesID")
df_sales_status.show(5)

+-------+----+
|SalesID|Sold|
+-------+----+
|      1|   Y|
|      2|   Y|
|      3|   Y|
|      4|   Y|
|      5|   Y|
+-------+----+
only showing top 5 rows

In [12]:
df_Region=spark.read.csv(r"C:\Users\apurba.mondal\Documents\Region_State_Mapping.csv",header=True,inferSchema=True)
df_Region=df_Region.withColumnRenamed('State_Code','StateCode')
df_Region.show(5)

+-----------+---------+
|Region_Code|StateCode|
+-----------+---------+
|         R4|     ST01|
|         R6|     ST02|
|         R6|     ST03|
|         R2|     ST04|
|         R1|     ST05|
+-----------+---------+
only showing top 5 rows

In [13]:
df_State_Master=spark.read.csv(r"C:\Users\apurba.mondal\Documents\State_Master.csv",header=True,inferSchema=True)
df_State_Master=df_State_Master.withColumnRenamed('State_Code','StateCode')
df_State_Master.show(5)

+---------+-----------------+
|StateCode|       State_Name|
+---------+-----------------+
|     ST01|   Andhra Pradesh|
|     ST02|Arunachal Pradesh|
|     ST03|            Assam|
|     ST04|            Bihar|
|     ST05|     Chhattisgarh|
+---------+-----------------+
only showing top 5 rows

In [14]:
df_Region_Master=spark.read.csv(r"C:\Users\apurba.mondal\Documents\Region_Master.csv",header=True,inferSchema=True)
df_Region_Master = df_Region_Master.withColumnRenamed("Region_Code","RegionCode")
df_Region_Master.show(5)

+----------+-------+
|RegionCode| Region|
+----------+-------+
|        R1|Central|
|        R2|   East|
|        R3|   West|
|        R4|  South|
|        R5|  North|
+----------+-------+
only showing top 5 rows

In [15]:
df_Postal_Code_Master=spark.read.csv(r"C:\Users\apurba.mondal\Documents\Postal_Code_Master.csv",header=True,inferSchema=True)
df_Postal_Code_Master.show(5)

+-----------+---------+
|Postal_Code|City_Code|
+-----------+---------+
|     400001|     CT01|
|     400053|     CT01|
|     400035|     CT01|
|     400050|     CT01|
|     411002|     CT02|
+-----------+---------+
only showing top 5 rows

In [16]:
df1 = df_Region.join(df_Region_Master,df_Region.Region_Code==df_Region_Master.RegionCode,'outer')
df1 = df1.select("StateCode","Region")
df1.show(5)

+---------+-------+
|StateCode| Region|
+---------+-------+
|     ST05|Central|
|     ST14|Central|
|     ST27|Central|
|     ST28|Central|
|     ST04|   East|
+---------+-------+
only showing top 5 rows

In [17]:
df2 = df1.join(df_State_Master,df1.StateCode==df_State_Master.StateCode,"inner")
df2 = df2.select("State_Name","Region").withColumnRenamed("State_Name","state")
df2.show(5)

+-----------------+----------+
|            state|    Region|
+-----------------+----------+
|   Andhra Pradesh|     South|
|Arunachal Pradesh|North East|
|            Assam|North East|
|            Bihar|      East|
|     Chhattisgarh|   Central|
+-----------------+----------+
only showing top 5 rows

In [18]:
new_df1=df_sales.join(df_city,df_sales.City_Code==df_city.City_Code,'outer')
new_df1 = new_df1.select("Sales_ID","Name","Year","Selling_Price","km_Driven","Postal_Code","City_Name","State_Code",\
                       "Fuel","Seller_Type","Transmission","Owner","Mileage","Engine","Max_Power","Seats")
new_df1.show(5,truncate=False)

+--------+-----------------------------------+----+-------------+---------+-----------+---------+----------+------+-----------+------------+------------+----------+-------+----------+-----+
|Sales_ID|Name                               |Year|Selling_Price|km_Driven|Postal_Code|City_Name|State_Code|Fuel  |Seller_Type|Transmission|Owner       |Mileage   |Engine |Max_Power |Seats|
+--------+-----------------------------------+----+-------------+---------+-----------+---------+----------+------+-----------+------------+------------+----------+-------+----------+-----+
|1       |Maruti Swift Dzire VDI             |2014|450000       |145500   |400001     |Mumbai   |ST15      |Diesel|Individual |Manual      |First Owner |23.4 kmpl |1248 CC|74 bhp    |5    |
|18      |Hyundai i20 1.4 CRDi Asta          |2012|500000       |53000    |400001     |Mumbai   |ST15      |Diesel|Individual |Manual      |Second Owner|23.0 kmpl |1396 CC|90 bhp    |5    |
|48      |Toyota Fortuner 4x4 MT             |2014|1500000      |77000    |400001     |Mumbai   |ST15      |Diesel|Dealer     |Manual      |First Owner |12.55 kmpl|2982 CC|168.5 bhp |7    |
|71      |Volkswagen Ameo 1.5 TDI Comfortline|2017|500000       |80000    |400001     |Mumbai   |ST15      |Diesel|Individual |Manual      |First Owner |21.66 kmpl|1498 CC|108.62 bhp|5    |
|121     |Nissan Terrano XL 85 PS            |2014|400000       |70000    |400001     |Mumbai   |ST15      |Diesel|Individual |Manual      |Third Owner |20.45 kmpl|1461 CC|83.8 bhp  |5    |
+--------+-----------------------------------+----+-------------+---------+-----------+---------+----------+------+-----------+------------+------------+----------+-------+----------+-----+
only showing top 5 rows

In [19]:
new_df2=new_df1.join(df_State_Master,new_df1.State_Code==df_State_Master.StateCode,'outer')
new_df2 = new_df2.select("Sales_ID","Name","Year","Selling_Price","km_Driven","Postal_Code","City_Name","State_Name","Fuel",\
               "Seller_Type","Transmission","Owner","Mileage","Engine","Max_Power","Seats")
new_df2.show(5,truncate=False)

+--------+-----------------------------------+----+-------------+---------+-----------+---------+--------------+------+-----------+------------+------------+----------+-------+----------+-----+
|Sales_ID|Name                               |Year|Selling_Price|km_Driven|Postal_Code|City_Name|State_Name    |Fuel  |Seller_Type|Transmission|Owner       |Mileage   |Engine |Max_Power |Seats|
+--------+-----------------------------------+----+-------------+---------+-----------+---------+--------------+------+-----------+------------+------------+----------+-------+----------+-----+
|12      |Maruti Zen LX                      |2005|92000        |100000   |524225     |Nellore  |Andhra Pradesh|Petrol|Individual |Manual      |Second Owner|17.3 kmpl |993 CC |60 bhp    |5    |
|52      |Mitsubishi Pajero Sport 4X4        |2013|1090000      |151000   |524225     |Nellore  |Andhra Pradesh|Diesel|Dealer     |Manual      |First Owner |13.5 kmpl |2477 CC|175.56 bhp|7    |
|84      |Maruti Celerio ZXI MT BSIV         |2017|484999       |10000    |524225     |Nellore  |Andhra Pradesh|Petrol|Dealer     |Manual      |First Owner |23.1 kmpl |998 CC |67.04 bhp |5    |
|102     |Tata Manza Aura (ABS) Quadrajet    |2010|200000       |100000   |524225     |Nellore  |Andhra Pradesh|Diesel|Individual |Manual      |Second Owner|18.8 kmpl |1248 CC|90 bhp    |5    |
|106     |Mahindra Scorpio VLX AT AIRBAG BSIV|2014|625000       |70000    |524225     |Nellore  |Andhra Pradesh|Diesel|Individual |Automatic   |Second Owner|11.79 kmpl|2179 CC|120 bhp   |8    |
+--------+-----------------------------------+----+-------------+---------+-----------+---------+--------------+------+-----------+------------+------------+----------+-------+----------+-----+
only showing top 5 rows

In [20]:
new_df3=new_df2.join(df_sales_status,new_df2.Sales_ID==df_sales_status.SalesID,'inner')
new_df3 = new_df3.select("Sales_ID","Name","Year","Selling_Price","km_Driven","Postal_Code","City_Name","State_Name","Fuel",\
               "Seller_Type","Transmission","Owner","Mileage","Engine","Max_Power","Seats","Sold")
new_df3.show(5,truncate=False)

+--------+----------------------------+----+-------------+---------+-----------+---------+-------------+------+-----------+------------+------------+----------+-------+----------+-----+----+
|Sales_ID|Name                        |Year|Selling_Price|km_Driven|Postal_Code|City_Name|State_Name   |Fuel  |Seller_Type|Transmission|Owner       |Mileage   |Engine |Max_Power |Seats|Sold|
+--------+----------------------------+----+-------------+---------+-----------+---------+-------------+------+-----------+------------+------------+----------+-------+----------+-----+----+
|1       |Maruti Swift Dzire VDI      |2014|450000       |145500   |400001     |Mumbai   |Maharashtra  |Diesel|Individual |Manual      |First Owner |23.4 kmpl |1248 CC|74 bhp    |5    |Y   |
|2       |Skoda Rapid 1.5 TDI Ambition|2014|370000       |120000   |834001     |Ranchi   |Jharkhand    |Diesel|Individual |Manual      |Second Owner|21.14 kmpl|1498 CC|103.52 bhp|5    |Y   |
|3       |Honda City 2017-2020 EXi    |2006|158000       |140000   |201301     |Noida    |Uttar Pradesh|Petrol|Individual |Manual      |Third Owner |17.7 kmpl |1497 CC|78 bhp    |5    |Y   |
|4       |Hyundai i20 Sportz Diesel   |2010|225000       |127000   |248001     |Dehradun |Uttarakhand  |Diesel|Individual |Manual      |First Owner |23.0 kmpl |1396 CC|90 bhp    |5    |Y   |
|5       |Maruti Swift VXI BSIII      |2007|130000       |120000   |600020     |Chennai  |Tamil Nadu   |Petrol|Individual |Manual      |First Owner |16.1 kmpl |1298 CC|88.2 bhp  |5    |Y   |
+--------+----------------------------+----+-------------+---------+-----------+---------+-------------+------+-----------+------------+------------+----------+-------+----------+-----+----+
only showing top 5 rows

In [21]:
new_df4 = new_df3.join(df2,new_df3.State_Name==df2.state,'inner')
new_df4 = new_df4.select("Sales_ID","Name","Year","Selling_Price","km_Driven","Postal_Code","City_Name","State_Name","Region",\
                         "Fuel","Seller_Type","Transmission","Owner","Mileage","Engine","Max_Power","Seats","Sold")
new_df4.show(5,truncate=False)

+--------+----------------------------+----+-------------+---------+-----------+---------+-------------+-------+------+-----------+------------+------------+----------+-------+----------+-----+----+
|Sales_ID|Name                        |Year|Selling_Price|km_Driven|Postal_Code|City_Name|State_Name   |Region |Fuel  |Seller_Type|Transmission|Owner       |Mileage   |Engine |Max_Power |Seats|Sold|
+--------+----------------------------+----+-------------+---------+-----------+---------+-------------+-------+------+-----------+------------+------------+----------+-------+----------+-----+----+
|1       |Maruti Swift Dzire VDI      |2014|450000       |145500   |400001     |Mumbai   |Maharashtra  |West   |Diesel|Individual |Manual      |First Owner |23.4 kmpl |1248 CC|74 bhp    |5    |Y   |
|2       |Skoda Rapid 1.5 TDI Ambition|2014|370000       |120000   |834001     |Ranchi   |Jharkhand    |East   |Diesel|Individual |Manual      |Second Owner|21.14 kmpl|1498 CC|103.52 bhp|5    |Y   |
|3       |Honda City 2017-2020 EXi    |2006|158000       |140000   |201301     |Noida    |Uttar Pradesh|Central|Petrol|Individual |Manual      |Third Owner |17.7 kmpl |1497 CC|78 bhp    |5    |Y   |
|4       |Hyundai i20 Sportz Diesel   |2010|225000       |127000   |248001     |Dehradun |Uttarakhand  |Central|Diesel|Individual |Manual      |First Owner |23.0 kmpl |1396 CC|90 bhp    |5    |Y   |
|5       |Maruti Swift VXI BSIII      |2007|130000       |120000   |600020     |Chennai  |Tamil Nadu   |South  |Petrol|Individual |Manual      |First Owner |16.1 kmpl |1298 CC|88.2 bhp  |5    |Y   |
+--------+----------------------------+----+-------------+---------+-----------+---------+-------------+-------+------+-----------+------------+------------+----------+-------+----------+-----+----+
only showing top 5 rows

In [22]:
import pyspark.sql.functions as psf
split_col = psf.split(new_df4['Mileage'], ' ')
new_df4 = new_df4.withColumn('new_mileage', split_col.getItem(0))
new_df4=new_df4.drop('Mileage')
new_df4=new_df4.withColumnRenamed('new_mileage','mileage')
new_df4.show(5,truncate=False)

+--------+----------------------------+----+-------------+---------+-----------+---------+-------------+-------+------+-----------+------------+------------+-------+----------+-----+----+-------+
|Sales_ID|Name                        |Year|Selling_Price|km_Driven|Postal_Code|City_Name|State_Name   |Region |Fuel  |Seller_Type|Transmission|Owner       |Engine |Max_Power |Seats|Sold|mileage|
+--------+----------------------------+----+-------------+---------+-----------+---------+-------------+-------+------+-----------+------------+------------+-------+----------+-----+----+-------+
|1       |Maruti Swift Dzire VDI      |2014|450000       |145500   |400001     |Mumbai   |Maharashtra  |West   |Diesel|Individual |Manual      |First Owner |1248 CC|74 bhp    |5    |Y   |23.4   |
|2       |Skoda Rapid 1.5 TDI Ambition|2014|370000       |120000   |834001     |Ranchi   |Jharkhand    |East   |Diesel|Individual |Manual      |Second Owner|1498 CC|103.52 bhp|5    |Y   |21.14  |
|3       |Honda City 2017-2020 EXi    |2006|158000       |140000   |201301     |Noida    |Uttar Pradesh|Central|Petrol|Individual |Manual      |Third Owner |1497 CC|78 bhp    |5    |Y   |17.7   |
|4       |Hyundai i20 Sportz Diesel   |2010|225000       |127000   |248001     |Dehradun |Uttarakhand  |Central|Diesel|Individual |Manual      |First Owner |1396 CC|90 bhp    |5    |Y   |23.0   |
|5       |Maruti Swift VXI BSIII      |2007|130000       |120000   |600020     |Chennai  |Tamil Nadu   |South  |Petrol|Individual |Manual      |First Owner |1298 CC|88.2 bhp  |5    |Y   |16.1   |
+--------+----------------------------+----+-------------+---------+-----------+---------+-------------+-------+------+-----------+------------+------------+-------+----------+-----+----+-------+
only showing top 5 rows

In [23]:
split_col1 = psf.split(new_df4['max_power'], ' ')
new_df4 = new_df4.withColumn('new_max_power', split_col1.getItem(0))
new_df4=new_df4.drop('max_power')
new_df4=new_df4.withColumnRenamed('new_max_power','max_power')
new_df4 = new_df4.withColumn('max_power',psf.col('max_power').cast('Float'))
new_df4.show(5,truncate=False)

+--------+----------------------------+----+-------------+---------+-----------+---------+-------------+-------+------+-----------+------------+------------+-------+-----+----+-------+---------+
|Sales_ID|Name                        |Year|Selling_Price|km_Driven|Postal_Code|City_Name|State_Name   |Region |Fuel  |Seller_Type|Transmission|Owner       |Engine |Seats|Sold|mileage|max_power|
+--------+----------------------------+----+-------------+---------+-----------+---------+-------------+-------+------+-----------+------------+------------+-------+-----+----+-------+---------+
|1       |Maruti Swift Dzire VDI      |2014|450000       |145500   |400001     |Mumbai   |Maharashtra  |West   |Diesel|Individual |Manual      |First Owner |1248 CC|5    |Y   |23.4   |74.0     |
|2       |Skoda Rapid 1.5 TDI Ambition|2014|370000       |120000   |834001     |Ranchi   |Jharkhand    |East   |Diesel|Individual |Manual      |Second Owner|1498 CC|5    |Y   |21.14  |103.52   |
|3       |Honda City 2017-2020 EXi    |2006|158000       |140000   |201301     |Noida    |Uttar Pradesh|Central|Petrol|Individual |Manual      |Third Owner |1497 CC|5    |Y   |17.7   |78.0     |
|4       |Hyundai i20 Sportz Diesel   |2010|225000       |127000   |248001     |Dehradun |Uttarakhand  |Central|Diesel|Individual |Manual      |First Owner |1396 CC|5    |Y   |23.0   |90.0     |
|5       |Maruti Swift VXI BSIII      |2007|130000       |120000   |600020     |Chennai  |Tamil Nadu   |South  |Petrol|Individual |Manual      |First Owner |1298 CC|5    |Y   |16.1   |88.2     |
+--------+----------------------------+----+-------------+---------+-----------+---------+-------------+-------+------+-----------+------------+------------+-------+-----+----+-------+---------+
only showing top 5 rows

In [24]:
split_col2 = psf.split(new_df4['Engine'], ' ')
new_df4 = new_df4.withColumn('new_engine', split_col2.getItem(0))
new_df4=new_df4.drop('Engine')
new_df4=new_df4.withColumnRenamed('new_engine','engine')
new_df4 = new_df4.withColumn('engine',psf.col('engine').cast('Integer'))
new_df4.show(5,truncate=False)

+--------+----------------------------+----+-------------+---------+-----------+---------+-------------+-------+------+-----------+------------+------------+-----+----+-------+---------+------+
|Sales_ID|Name                        |Year|Selling_Price|km_Driven|Postal_Code|City_Name|State_Name   |Region |Fuel  |Seller_Type|Transmission|Owner       |Seats|Sold|mileage|max_power|engine|
+--------+----------------------------+----+-------------+---------+-----------+---------+-------------+-------+------+-----------+------------+------------+-----+----+-------+---------+------+
|1       |Maruti Swift Dzire VDI      |2014|450000       |145500   |400001     |Mumbai   |Maharashtra  |West   |Diesel|Individual |Manual      |First Owner |5    |Y   |23.4   |74.0     |1248  |
|2       |Skoda Rapid 1.5 TDI Ambition|2014|370000       |120000   |834001     |Ranchi   |Jharkhand    |East   |Diesel|Individual |Manual      |Second Owner|5    |Y   |21.14  |103.52   |1498  |
|3       |Honda City 2017-2020 EXi    |2006|158000       |140000   |201301     |Noida    |Uttar Pradesh|Central|Petrol|Individual |Manual      |Third Owner |5    |Y   |17.7   |78.0     |1497  |
|4       |Hyundai i20 Sportz Diesel   |2010|225000       |127000   |248001     |Dehradun |Uttarakhand  |Central|Diesel|Individual |Manual      |First Owner |5    |Y   |23.0   |90.0     |1396  |
|5       |Maruti Swift VXI BSIII      |2007|130000       |120000   |600020     |Chennai  |Tamil Nadu   |South  |Petrol|Individual |Manual      |First Owner |5    |Y   |16.1   |88.2     |1298  |
+--------+----------------------------+----+-------------+---------+-----------+---------+-------------+-------+------+-----------+------------+------------+-----+----+-------+---------+------+
only showing top 5 rows

In [25]:
split_col2 = psf.split(new_df4['Name'], ' ')
final_df = new_df4.withColumn('brand', split_col2.getItem(0))
final_df.show(5,truncate=False)
final_df.printSchema()

+--------+----------------------------+----+-------------+---------+-----------+---------+-------------+-------+------+-----------+------------+------------+-----+----+-------+---------+------+-------+
|Sales_ID|Name                        |Year|Selling_Price|km_Driven|Postal_Code|City_Name|State_Name   |Region |Fuel  |Seller_Type|Transmission|Owner       |Seats|Sold|mileage|max_power|engine|brand  |
+--------+----------------------------+----+-------------+---------+-----------+---------+-------------+-------+------+-----------+------------+------------+-----+----+-------+---------+------+-------+
|1       |Maruti Swift Dzire VDI      |2014|450000       |145500   |400001     |Mumbai   |Maharashtra  |West   |Diesel|Individual |Manual      |First Owner |5    |Y   |23.4   |74.0     |1248  |Maruti |
|2       |Skoda Rapid 1.5 TDI Ambition|2014|370000       |120000   |834001     |Ranchi   |Jharkhand    |East   |Diesel|Individual |Manual      |Second Owner|5    |Y   |21.14  |103.52   |1498  |Skoda  |
|3       |Honda City 2017-2020 EXi    |2006|158000       |140000   |201301     |Noida    |Uttar Pradesh|Central|Petrol|Individual |Manual      |Third Owner |5    |Y   |17.7   |78.0     |1497  |Honda  |
|4       |Hyundai i20 Sportz Diesel   |2010|225000       |127000   |248001     |Dehradun |Uttarakhand  |Central|Diesel|Individual |Manual      |First Owner |5    |Y   |23.0   |90.0     |1396  |Hyundai|
|5       |Maruti Swift VXI BSIII      |2007|130000       |120000   |600020     |Chennai  |Tamil Nadu   |South  |Petrol|Individual |Manual      |First Owner |5    |Y   |16.1   |88.2     |1298  |Maruti |
+--------+----------------------------+----+-------------+---------+-----------+---------+-------------+-------+------+-----------+------------+------------+-----+----+-------+---------+------+-------+
only showing top 5 rows

root
 |-- Sales_ID: integer (nullable = true)
 |-- Name: string (nullable = true)
 |-- Year: integer (nullable = true)
 |-- Selling_Price: integer (nullable = true)
 |-- km_Driven: integer (nullable = true)
 |-- Postal_Code: integer (nullable = true)
 |-- City_Name: string (nullable = true)
 |-- State_Name: string (nullable = true)
 |-- Region: string (nullable = true)
 |-- Fuel: string (nullable = true)
 |-- Seller_Type: string (nullable = true)
 |-- Transmission: string (nullable = true)
 |-- Owner: string (nullable = true)
 |-- Seats: integer (nullable = true)
 |-- Sold: string (nullable = true)
 |-- mileage: string (nullable = true)
 |-- max_power: float (nullable = true)
 |-- engine: integer (nullable = true)
 |-- brand: string (nullable = true)

## Which Brand is having the most sales?

In [26]:
df_brand_count = final_df.filter(final_df['Sold'] == 'Y')
df_brand_count = df_brand_count.groupBy("brand").agg({'Sales_ID' : 'count' }).\
withColumnRenamed("count(Sales_ID)","no_of_sales").orderBy(psf.col("no_of_sales").desc())
df_brand_count.show()

+-------------+-----------+
|        brand|no_of_sales|
+-------------+-----------+
|       Maruti|        597|
|      Hyundai|        332|
|     Mahindra|        201|
|         Tata|        178|
|       Toyota|        126|
|        Honda|        124|
|         Ford|         92|
|      Renault|         56|
|    Chevrolet|         56|
|   Volkswagen|         39|
|       Nissan|         33|
|          BMW|         29|
|       Jaguar|         21|
|        Skoda|         20|
|        Volvo|         19|
|Mercedes-Benz|         16|
|       Datsun|         16|
|        Lexus|         11|
|         Jeep|          9|
|         Audi|          9|
+-------------+-----------+
only showing top 20 rows

##  Which specific location are having more sales?

In [27]:
df_count = final_df.filter(final_df['Sold'] == 'Y')
df_count = df_count.groupBy(["Region","State_Name","City_Name"]).agg({'Sales_ID' : 'count'}).\
withColumnRenamed("count(Sales_ID)","no_of_sales").orderBy(psf.col("no_of_sales").desc())
df_count.show(5)

df_count = final_df.filter(final_df['Sold'] == 'Y')
df_count = df_count.groupBy(["Region","State_Name","City_Name"]).agg({'Sales_ID' : 'count'}).\
withColumnRenamed("count(Sales_ID)","no_of_sales").orderBy(psf.col("no_of_sales"))
df_count.show(5)

+-------+-------------+---------+-----------+
| Region|   State_Name|City_Name|no_of_sales|
+-------+-------------+---------+-----------+
|  South|    Karnataka|   Mysore|         83|
|  South|   Tamil Nadu|  Vellore|         81|
|Central|Uttar Pradesh|    Noida|         80|
|  North|        Delhi|    Delhi|         80|
|   West|  Maharashtra|   Mumbai|         77|
+-------+-------------+---------+-----------+
only showing top 5 rows

+------+-----------+----------+-----------+
|Region| State_Name| City_Name|no_of_sales|
+------+-----------+----------+-----------+
|  West|Maharashtra|      Pune|         52|
| North|  Rajasthan|    Jaipur|         55|
|  West|Maharashtra|Aurangabad|         60|
|  East|  Jharkhand|    Ranchi|         62|
| South|     Kerala|     Kochi|         62|
+------+-----------+----------+-----------+
only showing top 5 rows

In [28]:
df_region_count1 = final_df.filter(final_df['Sold'] == 'Y')
df_region_count1 = df_region_count1.groupBy("Region").agg({'Sales_ID' : 'count'}).\
withColumnRenamed("count(Sales_ID)","no_of_sales").orderBy(psf.col("no_of_sales").desc())
df_region_count1.show()

+----------+-----------+
|    Region|no_of_sales|
+----------+-----------+
|     South|        723|
|      West|        397|
|      East|        329|
|   Central|        284|
|     North|        198|
|North East|         69|
+----------+-----------+

In [29]:
df_region_count2 = final_df.filter(final_df['Sold'] == 'Y')
df_region_count2 = df_region_count2.groupBy("State_Name").agg({'Sales_ID' : 'count'}).\
withColumnRenamed("count(Sales_ID)","no_of_sales(for top 5 state)").orderBy(psf.col("no_of_sales(for top 5 state)").desc())
df_region_count2.show(5)


df_region_count2 = final_df.filter(final_df['Sold'] == 'Y')
df_region_count2 = df_region_count2.groupBy("State_Name").agg({'Sales_ID' : 'count'}).\
withColumnRenamed("count(Sales_ID)","no_of_sales(for bottom 5 states)").orderBy(psf.col("no_of_sales(for bottom 5 states)"))
df_region_count2.show(5)

+-------------+----------------------------+
|   State_Name|no_of_sales(for top 5 state)|
+-------------+----------------------------+
|   Tamil Nadu|                         230|
|    Karnataka|                         223|
|      Gujarat|                         208|
|  Maharashtra|                         189|
|Uttar Pradesh|                         145|
+-------------+----------------------------+
only showing top 5 rows

+--------------+--------------------------------+
|    State_Name|no_of_sales(for bottom 5 states)|
+--------------+--------------------------------+
|     Rajasthan|                              55|
|        Punjab|                              63|
|        Odisha|                              64|
|Andhra Pradesh|                              68|
|Madhya Pradesh|                              69|
+--------------+--------------------------------+
only showing top 5 rows

In [30]:
df_region_count3 = final_df.filter(final_df['Sold'] == 'Y')
df_region_count3 = df_region_count3.groupBy("City_Name").agg({'Sales_ID' : 'count'}).\
withColumnRenamed("count(Sales_ID)","no_of_sales(for top 5 city)").orderBy(psf.col("no_of_sales(for top 5 city)").desc())
df_region_count3.show(5)


df_region_count3 = final_df.filter(final_df['Sold'] == 'Y')
df_region_count3 = df_region_count3.groupBy("City_Name").agg({'Sales_ID' : 'count'}).\
withColumnRenamed("count(Sales_ID)","no_of_sales(for bottom 5 city)").orderBy(psf.col("no_of_sales(for bottom 5 city)"))
df_region_count3.show(5)

+---------+---------------------------+
|City_Name|no_of_sales(for top 5 city)|
+---------+---------------------------+
|   Mysore|                         83|
|  Vellore|                         81|
|    Delhi|                         80|
|    Noida|                         80|
|   Mumbai|                         77|
+---------+---------------------------+
only showing top 5 rows

+----------+------------------------------+
| City_Name|no_of_sales(for bottom 5 city)|
+----------+------------------------------+
|      Pune|                            52|
|    Jaipur|                            55|
|Aurangabad|                            60|
|    Ranchi|                            62|
|     Kochi|                            62|
+----------+------------------------------+
only showing top 5 rows

## Trend in sales of the top 5 brands at an interval of 5 years starting from 2000

In [31]:
df5 = final_df.filter((final_df['Sold'] == 'Y') & (final_df['Year']>1999) & (final_df['Year']<2006)).groupBy("brand").\
agg({'Sales_ID' : 'count'}).withColumnRenamed("count(Sales_ID)","count_of_sold_car(2000 to 2005)")
df5 = df5.sort(psf.col("count_of_sold_car(2000 to 2005)").desc())
df5.show(5)

df6 = final_df.filter((final_df['Sold'] == 'Y') & (final_df['Year']>2005) & (final_df['Year']<2011)).groupBy("brand").\
agg({'Sales_ID' : 'count'}).withColumnRenamed("count(Sales_ID)","count_of_sold_car(2006 to 2010)")
df6 = df6.sort(psf.col("count_of_sold_car(2006 to 2010)").desc())
df6.show(5)

df7 = final_df.filter((final_df['Sold'] == 'Y') & (final_df['Year']>2010) & (final_df['Year']<2016)).groupBy("brand").\
agg({'Sales_ID' : 'count'}).withColumnRenamed("count(Sales_ID)","count_of_sold_car(2011 to 2015)")
df7 = df7.sort(psf.col("count_of_sold_car(2011 to 2015)").desc())
df7.show(5)

df8 = final_df.filter((final_df['Sold'] == 'Y') & (final_df['Year']>2015) & (final_df['Year']<2021)).groupBy("brand").\
agg({'Sales_ID' : 'count'}).withColumnRenamed("count(Sales_ID)","count_of_sold_car(2016 to 2020)")
df8 = df8.sort(psf.col("count_of_sold_car(2016 to 2020)").desc())
df8.show(5)

+--------+-------------------------------+
|   brand|count_of_sold_car(2000 to 2005)|
+--------+-------------------------------+
|  Maruti|                             42|
| Hyundai|                              7|
|   Honda|                              4|
|Mahindra|                              3|
|    Tata|                              2|
+--------+-------------------------------+
only showing top 5 rows

+--------+-------------------------------+
|   brand|count_of_sold_car(2006 to 2010)|
+--------+-------------------------------+
|  Maruti|                             79|
| Hyundai|                             56|
|    Tata|                             36|
|Mahindra|                             29|
|   Honda|                             20|
+--------+-------------------------------+
only showing top 5 rows

+--------+-------------------------------+
|   brand|count_of_sold_car(2011 to 2015)|
+--------+-------------------------------+
|  Maruti|                            231|
| Hyundai|                            131|
|Mahindra|                            105|
|    Tata|                             85|
|  Toyota|                             60|
+--------+-------------------------------+
only showing top 5 rows

+--------+-------------------------------+
|   brand|count_of_sold_car(2016 to 2020)|
+--------+-------------------------------+
|  Maruti|                            241|
| Hyundai|                            138|
|Mahindra|                             64|
|   Honda|                             63|
|    Tata|                             55|
+--------+-------------------------------+
only showing top 5 rows

## Comparison between the sales of `automatic` and `manual` cars with respect to year

In [32]:
car_sold_df = final_df.filter((final_df['Sold'] == 'Y') & (final_df['Transmission'] == 'Automatic')).\
groupBy("Year").agg({'Sales_ID' : 'count'}).sort(psf.col("Year")).\
withColumnRenamed("count(Sales_ID)","no_of_sales for Automatic car")
car_sold_df.show(16)

car_sold_df1 = final_df.filter((final_df['Sold'] == 'Y') & (final_df['Transmission'] == 'Manual')).\
groupBy("Year").agg({'Sales_ID' : 'count'}).sort(psf.col("Year")).\
withColumnRenamed("count(Sales_ID)","no_of_sales for Manual car")
car_sold_df1.show(25)

+----+-----------------------------+
|Year|no_of_sales for Automatic car|
+----+-----------------------------+
|2004|                            1|
|2005|                            1|
|2006|                            1|
|2007|                            2|
|2008|                            1|
|2009|                            5|
|2010|                            5|
|2011|                            9|
|2012|                            5|
|2013|                           14|
|2014|                            9|
|2015|                           15|
|2016|                           42|
|2017|                           48|
|2018|                           49|
|2019|                           75|
+----+-----------------------------+
only showing top 16 rows

+----+--------------------------+
|Year|no_of_sales for Manual car|
+----+--------------------------+
|1994|                         1|
|1999|                         3|
|2000|                         5|
|2001|                         2|
|2002|                         7|
|2003|                        10|
|2004|                        12|
|2005|                        24|
|2006|                        22|
|2007|                        26|
|2008|                        42|
|2009|                        66|
|2010|                        91|
|2011|                       146|
|2012|                       154|
|2013|                       160|
|2014|                       135|
|2015|                       185|
|2016|                       183|
|2017|                       208|
|2018|                       138|
|2019|                        79|
|2020|                        15|
+----+--------------------------+

### Total sold cars according to Owner Type

In [33]:
owner_df = final_df.filter(final_df['Sold'] == 'Y').groupBy("Owner").agg({"Sales_ID":"count"}).\
sort(psf.col("count(Sales_ID)").desc()).withColumnRenamed("count(Sales_ID)","no_of_sales")
owner_df.show()

+--------------------+-----------+
|               Owner|no_of_sales|
+--------------------+-----------+
|         First Owner|       1326|
|        Second Owner|        490|
|         Third Owner|        135|
|Fourth & Above Owner|         49|
+--------------------+-----------+

Maximum People are prefering First owner car

### Total sold cars according to Fuel Type

In [34]:
fuel_df = final_df.filter(final_df['Sold'] == 'Y').groupBy("Fuel").agg({"Sales_ID":"count"}).\
sort(psf.col("count(Sales_ID)").desc()).withColumnRenamed("count(Sales_ID)","no_of_sales")
fuel_df.show()

+------+-----------+
|  Fuel|no_of_sales|
+------+-----------+
|Diesel|       1052|
|Petrol|        935|
|   CNG|          7|
|   LPG|          6|
+------+-----------+

Diesel type cars is the Highest in number of sold car.

### Numbers of Cars sold according to the type of fuel in 5 year intervals starting from 2000

In [35]:
df7 = final_df.filter((final_df['Sold'] == 'Y') & (final_df['Year']>1999) & (final_df['Year']<2006)).groupBy("Fuel").\
agg({'Sales_ID' : 'count'}).withColumnRenamed("count(Sales_ID)","count_of_sold_car(1999 to 2006)")
df7 = df7.sort(psf.col("count_of_sold_car(1999 to 2006)").desc())
df7.show()

df7 = final_df.filter((final_df['Sold'] == 'Y') & (final_df['Year']>2005) & (final_df['Year']<2011)).groupBy("Fuel").\
agg({'Sales_ID' : 'count'}).withColumnRenamed("count(Sales_ID)","count_of_sold_car(2006 to 2010)")
df7 = df7.sort(psf.col("count_of_sold_car(2006 to 2010)").desc())
df7.show()

df7 = final_df.filter((final_df['Sold'] == 'Y') & (final_df['Year']>2010) & (final_df['Year']<2016)).groupBy("Fuel").\
agg({'Sales_ID' : 'count'}).withColumnRenamed("count(Sales_ID)","count_of_sold_car(2011 to 2015)")
df7 = df7.sort(psf.col("count_of_sold_car(2011 to 2015)").desc())
df7.show()

df7 = final_df.filter((final_df['Sold'] == 'Y') & (final_df['Year']>2015) & (final_df['Year']<2021)).groupBy("Fuel").\
agg({'Sales_ID' : 'count'}).withColumnRenamed("count(Sales_ID)","count_of_sold_car(2016 to 2020)")
df7 = df7.sort(psf.col("count_of_sold_car(2016 to 2020)").desc())
df7.show()

+------+-------------------------------+
|  Fuel|count_of_sold_car(1999 to 2006)|
+------+-------------------------------+
|Petrol|                             52|
|Diesel|                             10|
+------+-------------------------------+

+------+-------------------------------+
|  Fuel|count_of_sold_car(2006 to 2010)|
+------+-------------------------------+
|Petrol|                            145|
|Diesel|                            113|
|   LPG|                              3|
+------+-------------------------------+

+------+-------------------------------+
|  Fuel|count_of_sold_car(2011 to 2015)|
+------+-------------------------------+
|Diesel|                            527|
|Petrol|                            301|
|   LPG|                              3|
|   CNG|                              1|
+------+-------------------------------+

+------+-------------------------------+
|  Fuel|count_of_sold_car(2016 to 2020)|
+------+-------------------------------+
|Petrol|                            433|
|Diesel|                            402|
|   CNG|                              6|
+------+-------------------------------+

### Variation in the fuel type of the top 5 most selling brands ???

In [36]:
df8 = final_df.filter((final_df["Sold"]=="Y") & (final_df["brand"] == 'Maruti')).groupBy("Fuel").\
agg({'Sales_ID' : 'count'}).withColumnRenamed("count(Sales_ID)","no_of_sales for Maruti")
df8 = df8.sort(psf.col("no_of_sales for Maruti").desc())
df8.show()

df8 = final_df.filter((final_df["Sold"]=="Y") & (final_df["brand"] == 'Hyundai')).groupBy("Fuel").\
agg({'Sales_ID' : 'count'}).withColumnRenamed("count(Sales_ID)","no_of_sales for Hyundai")
df8 = df8.sort(psf.col("no_of_sales for Hyundai").desc())
df8.show()

df8 = final_df.filter((final_df["Sold"]=="Y") & (final_df["brand"] == 'Honda')).groupBy("Fuel").\
agg({'Sales_ID' : 'count'}).withColumnRenamed("count(Sales_ID)","no_of_sales for Honda")
df8 = df8.sort(psf.col("no_of_sales for Honda").desc())
df8.show()

df8 = final_df.filter((final_df["Sold"]=="Y") & (final_df["brand"] == 'Mahindra')).groupBy("Fuel").\
agg({'Sales_ID' : 'count'}).withColumnRenamed("count(Sales_ID)","no_of_sales for Mahindra")
df8 = df8.sort(psf.col("no_of_sales for Mahindra").desc())
df8.show()

df8 = final_df.filter((final_df["Sold"]=="Y") & (final_df["brand"] == 'Tata')).groupBy("Fuel").\
agg({'Sales_ID' : 'count'}).withColumnRenamed("count(Sales_ID)","no_of_sales for Tata")
df8 = df8.sort(psf.col("no_of_sales for Tata").desc())
df8.show()

df8 = final_df.filter((final_df["Sold"]=="Y") & (final_df["brand"] == 'Toyota')).groupBy("Fuel").\
agg({'Sales_ID' : 'count'}).withColumnRenamed("count(Sales_ID)","no_of_sales for Toyota")
df8 = df8.sort(psf.col("no_of_sales for Toyota").desc())
df8.show()

+------+----------------------+
|  Fuel|no_of_sales for Maruti|
+------+----------------------+
|Petrol|                   384|
|Diesel|                   201|
|   CNG|                     7|
|   LPG|                     5|
+------+----------------------+

+------+-----------------------+
|  Fuel|no_of_sales for Hyundai|
+------+-----------------------+
|Petrol|                    207|
|Diesel|                    124|
|   LPG|                      1|
+------+-----------------------+

+------+---------------------+
|  Fuel|no_of_sales for Honda|
+------+---------------------+
|Petrol|                   94|
|Diesel|                   30|
+------+---------------------+

+------+------------------------+
|  Fuel|no_of_sales for Mahindra|
+------+------------------------+
|Diesel|                     191|
|Petrol|                      10|
+------+------------------------+

+------+--------------------+
|  Fuel|no_of_sales for Tata|
+------+--------------------+
|Diesel|                 141|
|Petrol|                  37|
+------+--------------------+

+------+----------------------+
|  Fuel|no_of_sales for Toyota|
+------+----------------------+
|Diesel|                    88|
|Petrol|                    38|
+------+----------------------+