In [1]:
!pip install pyspark

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pyspark in c:\users\anubhaw.sharma\appdata\roaming\python\python39\site-packages (3.3.0)
Requirement already satisfied: py4j==0.10.9.5 in c:\programdata\anaconda3\lib\site-packages (from pyspark) (0.10.9.5)

In [1]:
import pyspark

In [2]:
import pandas as pd

In [3]:
pd.read_csv('sample.csv')

       name    dept        mob  roll
0   anubhaw  mining  987763772   123
1      aman   metal  237498355   231
2  ashutosh    mech  235226266   235
3     ankit     cse  235236758   342

In [4]:
from pyspark.sql import SparkSession

In [5]:
spark=SparkSession.builder.appName('Practise').getOrCreate()

In [6]:
spark

In [18]:
df_pyspark=spark.read.csv('sample.csv')

In [19]:
df_pyspark

DataFrame[_c0: string, _c1: string, _c2: string, _c3: string]

In [20]:
df_pyspark.show()

+--------+------+---------+----+
|     _c0|   _c1|      _c2| _c3|
+--------+------+---------+----+
|    name|  dept|      mob|roll|
| anubhaw|mining|987763772| 123|
|    aman| metal|237498355| 231|
|ashutosh|  mech|235226266| 235|
|   ankit|   cse|235236758| 342|
+--------+------+---------+----+

In [24]:
spark.read.option('header','true').csv('sample.csv').show()

+--------+------+---------+----+
|    name|  dept|      mob|roll|
+--------+------+---------+----+
| anubhaw|mining|987763772| 123|
|    aman| metal|237498355| 231|
|ashutosh|  mech|235226266| 235|
|   ankit|   cse|235236758| 342|
+--------+------+---------+----+